body {
  background: #333333 url("../img/bg_golden.jpg");
  padding-top: 70px;
  font-family: Helvetica, sans-serif;
  }

a {
  color: #e57c22;
  text-decoration: none;
}

a:focus, a:hover {
    color: #228be5;
    text-decoration: none;
}

a:active, a:hover, a:focus {
  outline: 0;
}

.header-title {
  text-transform: lowercase;
  font-weight: bold;
}

/* JUMBO BLOCK */
 #jumbotron {
  background: #ffbdbd;
  background: radial-gradient(#ffbdbd, #d7c6cf);
  background: url("../img/floral1200.jpg") no-repeat;
 	background-size: cover;
 	padding-top: 16%;
 	padding-bottom: 20%;
  margin-bottom: 1em;
 }

h1#author-name {
	font-family: 'Annie Use Your Telescope', cursive;
  font-size: 6.5em;
  font-weight: 700;
  text-align: center;
  color: #111111;
}

#glyphicon-jumbo {
  margin-right: 0.5em;
}

.jumbo-title {
  text-transform: uppercase;
}

.social-buttons1 {
  margin: 0 auto;
  text-align: center;
}

a.social img:hover {
  -webkit-filter: opacity(50%); /* Safari */
  filter: opacity(50%);
}

/* genaral style for all sections */
.section-main {
  margin-top: 1rem;
	margin-bottom: 1.2rem;
  border-radius: 2%;
	padding-top: 0rem;
	padding-bottom: 1rem;
}

h2.heading {
  font: bold 3em/1.4 'Annie Use Your Telescope', cursive;
  padding: 0, 8px;
}

/* ABOUT ME BLOCK */
#info-about, #contacts {
	background: rgba(250, 240, 230, 0.8);
	border: 1px solid #faebd7;
}

#info-about {
  padding-top: 1.2rem;
}

div #my-photo {
	margin-top: 1.5em;
  margin-bottom: 1em;
}

#author-photo {
	width: 80%;
  max-width: 350px;
  margin: auto;
}

#main-text {
  padding-top: 1em;
	font-size: 128.57%;
  line-height: 1.5;
}

#main-text p {
  padding-right: 2em;
}

/* icons style */
.prog-icon {
	width: 40px;
}

#icon-block {
  width:175px;
  margin: 1em auto;
}

.info-links {
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
}

.info-links a {
  display: inline-block;
  margin-right: 1em;
  padding: 0;
  font-size: 1em;
  text-decoration: none;
}


/* PORTFOLIO BLOCK */
.portfolio {
  height: auto;
 	background: rgba(215, 208, 204, 0.8);
	border: 1px solid #d1cace;
  padding: 8px;
}
.leading-para {
  padding: 0 0.5em;
}


.breadcrumb {
  background: none;
  margin-bottom: 10px;
}

.breadcrumb > .active {
  color: #666;
}

.breadcrumb > li + li::before {
  color: #666;
}

h3.proj-heading {
  font-size: 1.8em;
  font-weight: 600;
  color: #e57c22;
  margin-bottom: 30px;
  text-decoration: underline;
}

a.thumbnail {
  margin-top: 10px;
}

div.thumbnail {
  height: 490px;
  background-color: #f4f7fa;
}

div.commercial-thumb {
  height: 440px;
}

.thumbnail h3 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 15px 0;
}

a.page-preview {
  display: block;
  height: 170px;
}

a.page-preview img {
  max-height: 170px;
}

/*a.page-preview:active, a.page-preview:hover, a.page-preview:focus {
  outline: 1px dotted #e57c22;
}*/

a.commercial-img {
  display: block;
  height: 170px;
}

a.commercial-img img {
  display: block;
  width: 85%;
  margin: auto;
}

/*a.commercial-img:active, a.commercial-img:hover, a.commercial-img:focus {
  outline: 1px dotted #e57c22;
}*/

a.go-page {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.thumbnail:hover {
  filter: brightness(75%);
}

.caption h3 {
  margin: 8px 0;
  font-size: 1.3em;
  font-weight: bold;
}

.proj-description {
  font-size: 1em;
  font-style: italic;
}

.techno-tools {
  font-weight: 600;
}

.leading-para {
  font-size: 128.57%;
  line-height: 1.5;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: rgba(215, 208, 204, 0.5);
  color: #228be5;
}


/* GET IN TOUCH BLOCK */
.contact-info, .signature {
  font-size: 1.2em;
  font-style: italic;
}
.signature {
  font-family: 'Annie Use Your Telescope', cursive;
  font-weight: bold;
  font-size: 1.8em;
}


/* FOOTER */
#footer-main {
  background-color: #333;
}

#footer-text {
	color: #9d9d9d;
  font-weight: bold;
}

footer p {
  padding: 5px 0;
  margin-bottom: 0;
}

footer img {
  filter: invert(100%);
  width: 30px;
}

/*CV PAGE*/
.cv-about {
  background-color: rgba(107, 206, 228, 0.8);
}
.cv-about h1 {
  margin-top: 1.2em;
  font-size: 3em;
}
.cv-about h4 {
  font-size: 1.4em;
}

#cv-photo {
  width: 200px;
  margin: 15px auto;
}
.cv-intro {
  background-color: rgba(76, 76, 76, 1);
  color: #fff;
  padding: 8px;
}

.cv-summary {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
}
.cv-body {
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 20px;
  margin-bottom: 20px;
}
.cv-body-header {
  color: #5bc0de;
}
.personal-table {
  width: 80%;
  margin: 10px 5px;
}
.t-title {
  font-weight: bold;
}
.progress {
  display: inline-block;
  width: 60%;
  vertical-align: bottom;
  margin: 10px 0;
}
.progress-row {
  width: 85%;
}

div.progress-row:last-child {
  margin-bottom: 1em;
}

.progress-item {
  display: inline-block;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em;
  font-weight: 600;
}


.body-right {
  padding-left: 35px;
  box-shadow: 9px 0 5px -2px  grey inset;
}

#work-table, #educ-table {
  width: 90%;
  margin-left: 1em;
}
#work-table td, #educ-table td {
  font-size: 1.1em;
  vertical-align: baseline;
}

.w-title {
  font-weight: 400;
  font-size: 1.1em;
}

.e-title {
  font-weight: 600;
  font-size: 1.1em;
}

.s-title {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}
canvas {
  display: block;
  margin: 10px auto;
}


@media screen and (min-width:768px) and (max-width: 1024px) {
  .progress-row {
    width: 95%;
    margin: 0 auto;
  }

  .personal-table {
    width: 95%;
  }

  .body-right {
    padding-left: 15px;
    box-shadow: none;
  }
}


@media screen and (min-width:768px) and (max-width: 980px) {
  div.thumbnail {
    height: 520px;
  }
}

@media screen and (min-width:530px) and (max-width: 767px) {
  div.thumbnail, a.thumbnail {
    width: 65%;
    margin: 1em auto;
  }
}


@media screen and (max-width: 766px) {
  div #my-photo {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  #main-text {
    font-size: 1.2em;
    line-height: 1.3;
    padding-top: 0;
    margin-top: 1.5em;
  }

  #main-text p {
    padding: 0.25em;
  }

  .info-links {
    flex-wrap: wrap;
    margin: 0;
  }

  .info-links a {
    margin-bottom: 0.75em;
    font-size: 1.1em;
  }

  div.thumbnail {
    height: auto;
    min-width: 272px;
  }

  .cv-about h1 {
    margin-top: 10px;
    font-size: 2.5em;
  }

  .cv-summary {
    font-size: 1.1em;
    margin: 10px 0;
  }

  .cv-about h1, .cv-about h4 {
    text-align: center;
  }

  .personal-table {
    width: 98%;
  }


  .progress-row {
    width: 100%;
  }


  .progress-item {
    width: 30%;
  }

  .body-right {
    padding-left: 15px;
    box-shadow: none;
  }

  canvas {
    width: 125px;
    height: 125px;
  }

  .nav-tabs > li > a {
    font-size: 1em;
  }

  div.thumb-micro{
    height: auto;
  }


}

#industrial {
  min-height: 703px;
}

h3.d3-viz {
  margin-bottom: 1em;
}

.proj-viz, .proj-micro {
  color: #228be5;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 25px;
}

div.thumb-viz {
  height: auto;
  padding: 10px;
}

div.thumb-micro{
  height: 380px;
}

.proj-micro {
  padding: 0 8px;
}
